{% extends 'Adilet/home.html.twig' %}

{% block title %}Pupil index{% endblock %}

{% block body %}
    <h1>Pupil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surename</th>
                <th>Class</th>
                <th>School</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pupil in pupils %}
            <tr>
                <td>{{ pupil.id }}</td>
                <td>{{ pupil.name }}</td>
                <td>{{ pupil.surename }}</td>
                <td>{{ pupil.class }}</td>
                <td>{{ pupil.school }}</td>
                <td>
                    <a href="{{ path('pupil_show', {'id': pupil.id}) }}">show</a>
                    <a href="{{ path('pupil_edit', {'id': pupil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pupil_new') }}">Create new</a>
{% endblock %}
